<a href="https://colab.research.google.com/github/Ayu0786/Data-Science/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Python:** :- Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming.

###How to print anything in python

In [ ]:
print("Hello Pepcoding")

Hello Pepcoding

In [ ]:
num = 10

In [ ]:
print(num)

10

###How to print String in python

In [ ]:
string = "Pepcoding"

In [ ]:
print(string)

Pepcoding

###Using type keyword we can know about the datatype of particular variable

In [ ]:
print(type(string))

<class 'str'>

In [ ]:
print(type(num))

<class 'int'>

In [ ]:
aaditya = 2.2

In [ ]:
print(type(aaditya))

<class 'float'>

In [ ]:
print(vishant)

599

In [ ]:
print(type(aaditya),type(num),type(string))

<class 'float'> <class 'int'> <class 'str'>

In [ ]:
vishant = 599

In [ ]:
a,b,c = 10,20,30

In [ ]:
print(a,b,c);

10 20 30

In [ ]:
a = 55
b='55'

In [ ]:
a=b=c=5

###Import keyword to print the list of Keywords

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

##Numbers

In [1]:
num1 = 100

In [2]:
num2 = 4.4

In [3]:
num3 = 5+6j

In [4]:
print(type(num1),type(num2),type(num3))

<class 'int'> <class 'float'> <class 'complex'>

In [5]:
print(num1,num2,num3)

100 4.4 (5+6j)

###String :- A string (str) in Python is a single character or a collection of characters. When we create a string, this internally converts into a combination of 1s and 0s for the computer to handle. This conversion of string to binary numbers is called encoding and is done using Unicode in Python.

In [6]:
string = "Pepcoding"

In [7]:
print(type(string))

<class 'str'>

In [8]:
print(string[0])

P

Strings in Python are immutable

In [9]:
string[0]="A"

TypeError: ignored

In [10]:
string = "Nados"

#Slicing

In [11]:

string[0:3]

'Nad'

In [12]:
string[0:]

'Nados'

In [ ]:
string[1:]

'epcoding'

In [13]:
string[:3]

'Nad'

In [14]:
string[:]

'Nados'

In [15]:
string[0:4:2]

'Nd'

In [16]:
string[::2]

'Nds'

In [17]:
string[7:1:1]

''

In [18]:
string[-1]

's'

In [19]:
string[-9:-6]

''

In [20]:
string[8:5:-1]

''

In [21]:
string[-3:-9:-1]

'daN'

In [22]:
string[::-1]

'sodaN'

In [23]:
string[:-4:-1]

'sod'

In [24]:
len(string)

5

In [25]:
string[2:-2:-1]

''

In [26]:
string[:4:-1]

''

###Using For Loop How can we print characters.

In [28]:
for ch in string:
  print(ch)

N
a
d
o
s

In [29]:
print("Pep",end="")
print("coding")

Pepcoding

In [30]:
if "coding" in string:
  print("Hello Pepcoding")

###String using Upper method

In [31]:
string.upper()

'NADOS'

###String using Lower method

In [ ]:
string.lower()

'pepcoding'

##if Else

In [ ]:
if 1>2:
  print("A")
else:
  print("B")

B

In [ ]:
marks = 55

In [ ]:
if marks>90:
  print("A Grade")
elif marks>80:
  print("B Grade")
else:
  print("C Grade")

C Grade

In [ ]:
for i in range(5):
  if i==2:
    break
  print(i*i)

0
1

In [ ]:
i = 0

In [ ]:
while i<5:
  i+=1

In [ ]:
for i in range(5):
  print(str(i)+" Hello")
  if i ==2:
    break

0 Hello
1 Hello
2 Hello

In [ ]:
for i in range(5):
  if i ==2:
    continue
  print(str(i)+" Hello")

0 Hello
1 Hello
3 Hello
4 Hello

###List [ ] :- Python Lists are just like dynamically sized arrays, declared in other languages (vector in C++ and ArrayList in Java). In simple language, a list is a collection of things, enclosed in [ ] and separated by commas. 


*   Could be hetergeneous
*   Mutable
*   Scriptable
* Ordered

In [32]:
lst = [1,2,3,"Pepcoding"]

In [33]:
print(type(lst))

<class 'list'>

##How can we append anything in list

In [34]:
lst.append("8")

In [35]:
lst

[1, 2, 3, 'Pepcoding', '8']

In [36]:
lst[0]=55

In [37]:
lst2 = [1,2,3]

lst.append(lst2)

In [38]:
lst

[55, 2, 3, 'Pepcoding', '8', [1, 2, 3]]

In [39]:
lst[-1]

[1, 2, 3]

In [40]:
lst[0:3]

[55, 2, 3]

##Here we can insert Values using Insert method

In [41]:
lst.insert(1,"DEF")

In [42]:
lst

[55, 'DEF', 2, 3, 'Pepcoding', '8', [1, 2, 3]]

###Here we can remove any value what we want

In [43]:
lst.remove(2)

###Here we can delete the values from list using Pop method

In [44]:
print(lst.pop())

[1, 2, 3]

In [45]:
lst

[55, 'DEF', 3, 'Pepcoding', '8']

###Here we can print list using For loop

In [46]:
for i in lst:
  print(i)

55
DEF
3
Pepcoding
8

###Tuple ( ) :- Python Tuple is a collection of objects separated by commas. In some ways, a tuple is similar to a list in terms of indexing, nested objects, and repetition but a tuple is immutable, unlike lists which are mutable.


*   Heterogeneous possible
*   Immutable
*   scriptable
* Ordered

In [47]:
tup = (1,2,3,"Hello")

In [48]:
print(type(tup))

<class 'tuple'>

In [49]:
tup = (1,2)

In [50]:
print(type(tup))

<class 'tuple'>

In [51]:
tup = (1)

In [52]:
print(type(tup))

<class 'int'>

In [53]:
tup = (1,)

In [54]:
print(type(tup))

<class 'tuple'>

In [55]:
print(tup[0])

1

In [56]:
tup[0] = 55

TypeError: ignored

###Using for loop we can print the elements of Tuple

In [57]:
for i in tup:
  print(i)

1

###Here we can not append the values in the tuple

In [ ]:
tup.append(55)

AttributeError: ignored

##Set { } :- A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements. 

Set is define in { }
The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set. This is based on a data structure known as a hash table. Since sets are unordered, we cannot access items using indexes like we do in lists.


*   Not Scriptable
*   Could be Heteregeneous
* Not Ordered
* Immutable
* no Repetitons Allowed

###Here how can we print set

In [58]:
st = {"Apple","Mango","Pineapple","Apple"}

In [59]:
st

{'Apple', 'Mango', 'Pineapple'}

In [60]:
print(type(st))

<class 'set'>

###Sets are not subscriptable

In [65]:
st[0]

TypeError: ignored

In [63]:
st = {"Apple","Mango","Pineapple",5,6,7}

In [64]:
st

{5, 6, 7, 'Apple', 'Mango', 'Pineapple'}

###Here we can add values using Add method in sets

In [66]:
st.add("Orange")

In [67]:
st

{5, 6, 7, 'Apple', 'Mango', 'Orange', 'Pineapple'}

###Here we can remove values from set using Remove method

In [68]:
st.remove("Apple")

In [69]:
st

{5, 6, 7, 'Mango', 'Orange', 'Pineapple'}

In [72]:
st = {1,2,3,["Apple","orange"]}

TypeError: ignored

###Here we can print all values of set using For loop

In [71]:
for i in st:
  print(i)

5
6
7
Pineapple
Mango
Orange

###Here we can delete the values using Pop method

In [73]:
st.pop()

5

###Here we can clear all the values of set in once using Clear method

In [74]:
st.clear()

In [75]:
st

set()

###Here we can delete the set using Del method

In [77]:
del st

###Now here it shows erroe beacause we've already deleted the st

In [78]:
st

NameError: ignored

##Here we can union two sets using Union method

In [79]:
set1 = {1,2,3,4,5}
set2 = {2,5,8,9}

print(set1.union(set2))

{1, 2, 3, 4, 5, 8, 9}

###Here we can assign the values of list into set

In [80]:
lst = [1,2,3,4,5]

In [81]:
st = set(lst)

In [82]:
st

{1, 2, 3, 4, 5}

###Here we can assign the values of list to the new list variable

In [83]:
lst2 = list(st)

In [84]:
lst2

[1, 2, 3, 4, 5]

###Here we can clear the values of set using Clear method

In [85]:
st.clear()

In [86]:
st

set()

###Dictionarires :- Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.
In Python, a dictionary can be created by placing a sequence of elements within curly {} braces, separated by ‘comma’. Dictionary holds pairs of values, one being the Key and the other corresponding pair element being its Key:value. Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable. 

Note – Dictionary keys are case sensitive, the same name but different cases of Key will be treated distinctly.

In [87]:
dict1={'Name':"Kunal",
       "Team":"HotDev"}

In [88]:
dict1

{'Name': 'Kunal', 'Team': 'HotDev'}

In [89]:
type(dict1)

dict

###Dictionaries are:
1. Ordered (After python 3.7)
2. Not Indexed 
3. Mutable (Values can be changed)
4. No Duplicate values

In [90]:
dict2={
    'A':1,
    'C':'Kunal',
    'B':[1,2,3],
    'A':3
}

In [91]:
dict2

{'A': 3, 'B': [1, 2, 3], 'C': 'Kunal'}

In [92]:
dict2["A"]

3

In [93]:
dict2['C']='Aman'

In [94]:
dict2

{'A': 3, 'B': [1, 2, 3], 'C': 'Aman'}

In [95]:
dict2['A']=1

In [96]:
dict2

{'A': 1, 'B': [1, 2, 3], 'C': 'Aman'}

In [97]:
type(dict2['B'])

list

In [98]:
dict2['B'][1]

2

In [99]:
dict2

{'A': 1, 'B': [1, 2, 3], 'C': 'Aman'}

In [100]:
dict2.keys()

dict_keys(['A', 'C', 'B'])

In [101]:
dict2.values()

dict_values([1, 'Aman', [1, 2, 3]])

In [102]:
for i in dict2.values():
  print(i)

1
Aman
[1, 2, 3]

In [103]:
for i,j in dict2.items():
  print(i,j)

A 1
C Aman
B [1, 2, 3]

In [104]:
for i,j in zip(dict2.values(),dict2.keys()):
  print(i,j)

1 A
Aman C
[1, 2, 3] B

In [105]:
dict2.items()

dict_items([('A', 1), ('C', 'Aman'), ('B', [1, 2, 3])])

Ques 1:- Make one Dictionary Which has a number 1 to 5 as a key and it's square as a value

dict ={
    "1":1,
    '2':4,
    '3':9,
    '4':16,
    '5':25
}


Ques2 :-- Given a dictionary in Python WAP to find the sum of all items in the dictionary

In [107]:
dict4={val:val*val for val in range(1,6)}

In [108]:
dict4

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [109]:
sum1=sum(dict4.values())

In [110]:
sum1

55

In [111]:
dict5=dict4

In [112]:
dict5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [113]:
dict5=dict()

In [114]:
dict5

{}

In [115]:
dict4

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [116]:
dict4={}
for i in range(1,7):
  dict4[i]=i*i
dict4

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

###Exception Handling :- Error in Python can be of two types i.e. Syntax errors and Exceptions. Errors are the problems in a program due to which the program will stop the execution. On the other hand, exceptions are raised when some internal events occur which changes the normal flow of the program. 

Syntax Error: As the name suggests this error is caused by the wrong syntax in the code. It leads to the termination of the program. 

Exceptions: Exceptions are raised when the program is syntactically correct, but the code resulted in an error. This error does not stop the execution of the program, however, it changes the normal flow of the program.

In [117]:
Here is the code of without try catch
a=5
b=6
c=a/0

try:
  print("7")
except:
  print("line")

ZeroDivisionError: ignored

In [122]:
try:
  a=5
  b=6
  c=a/0
except:
  print("Zero Divide")
finally:
  print("Program End")

Zero Divide
Program End

In [123]:
try:
  a=5
  b=6
  c=a/b
except:
  print("Zero Divide")
else:
  print("Continue")
finally:
  print("Program End")

Continue
Program End

1. first try will run
2. if try become false then except will run
3. if except becomes false or try becomes true else will run
4. finally always running

###Oops :- In Python, object-oriented Programming (OOPs) is a programming paradigm that uses objects and classes in programming. It aims to implement real-world entities like inheritance, polymorphisms, encapsulation, etc. in the programming. The main concept of OOPs is to bind the data and the functions that work on that together as a single unit so that no other part of the code can access this data.
Main Concepts of Object-Oriented Programming (OOPs) 
1. Class
2. Objects
3. Polymorphism
4. Encapsulation
5. Inheritance
6. Data Abstraction

##Class :- A class is a user-defined blueprint or prototype from which objects are created. Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it for maintaining its state. Class instances can also have methods (defined by their class) for modifying their state.

In [120]:
class Phone:
  a=10
  b=5
  def initilization(ayushi,X):
    ayushi.a=X
    ayushi.d=X
  def video(kunal):
    print("the phone has v call feature")
    print(kunal.a)
    print(kunal.d)

##Objects :- An Object is an instance of a Class. A class is like a blueprint while an instance is a copy of the class with actual values. It’s not an idea anymore, it’s an actual dog, like a dog of breed pug who’s seven years old. You can have many dogs to create many different instances, but without the class as a guide, you would be lost, not knowing what information is required.

An object consists of : 

State: It is represented by the attributes of an object. It also reflects the properties of an object.
Behavior: It is represented by the methods of an object. It also reflects the response of an object to other objects.
Identity: It gives a unique name to an object and enables one object to interact with other objects.

In [124]:
p1=Phone()

In [125]:
p1.initilization(20)

In [126]:
p1.d

20

In [127]:
p1.video()

the phone has v call feature
20
20

In [128]:
class Phone2:
  def __init__(self,brand,color):
    self.brand=brand
    self.color=color
  def printing(self):
    print("i have "+self.brand+" in color "+self.color)
  def xyz(kunal):
    print("abc")

In [129]:
class Phone3(Phone2):
  def __init__(self,brand,color,ram,rom):
    super().__init__(brand,color)
    self.ram=ram
    self.rom=rom
  def Printing2(self):
    print("m hu child class")
    print(self.ram)
    print(self.rom)

In [130]:
p3=Phone3("Samsung","White","16 Gb","256 Gb")

In [131]:
p3.printing()

i have Samsung in color White

In [132]:
p3.Printing2()

m hu child class
16 Gb
256 Gb